*{
    margin: 0;
    padding: 0;
    
}
body{
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'poppins',sans-serif;
    color: white;
}

.imageContainer{
    width: 100%;
    height: 100vh;
    background-image: url('newpic/bg.jpg'); 
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    z-index: -1;
    border-image: fill 0 linear-gradient(#0001,#000);
}

/* img{
    position: absolute;
    top: 0;
     bottom: 0;
    z-index: -1;
} */

.secContainer{
 display: flex;
 flex-wrap: wrap;
 justify-content: space-around;
}
.card1{
    margin: 1rem;
    /* padding: 1rem 0.5rem; */
    display: flex;
    flex-direction: column;
}

.card{
    /* width:40%; */
    /* max-width: 570px; */
    /* height:80vh; */
    margin: 1rem;
    padding:  1.5rem ;
    text-align: center;
    border-radius: 20px;
    z-index: 1;
    border: 2px solid white;
    backdrop-filter: blur(4px);
}

.searchbar{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}

.searchbar input{
    outline: none;
    border: none;
    padding:10px 25px; 
    height: 2rem;
    border-radius: 40px;
    margin-right: 0.5rem;
    font-size: 1.5rem;
    /* flex: 1; */
}
.searchbar button{
    border: none;
    outline: none;
  border-radius: 50%;
  background-color: white;
  height: 3rem;
  width: 3rem;
cursor: pointer;
}
.searchbar img{
width: 1.2rem;
}
.degre{
    margin-top: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /* border: 2px solid white; */
    padding: 1rem;
    border-radius: 10px;
    /* backdrop-filter: blur(4px); */
}
.values{
    display: flex;
    gap: 0.5rem;
    
    /* margin-top: 3rem; */
}
.values h1{
    font-size:4rem;
    
    /* margin-top: 1.2rem; */
}

.degre img{
   width: 4rem;
}
.degre h4{
    letter-spacing:0.2rem;

}

.maxmin{
    margin-top: 0.5rem;
 display: flex;
 justify-content: center;
 gap: 5rem;
}

.details{
    margin-top: 0.5rem;
    display: flex;
    justify-content:center;
    gap: 4rem;
}
hr{
    margin-top: 0.5rem;
    height: 2px;
    border: none;
    background-color:rgb(95, 88, 88);
}

.box{
    display: flex;
    align-items: center;
}
 .text{
    margin-left: 1rem;
    text-align: left;
 }
 .text p{
    font-size: 1rem;
 }
 .text :first-child{
    font-size: 1.2rem;
    font-weight: bold;
 }
 .details img{
    width:1.5rem;
 }
 .currentDay
{
    display: flex;
} 
#two{
    display: flex;
}
 .forcaste{
   margin: 2rem 3rem; 
   display: flex;
   flex-wrap: wrap;
   gap: 0.8rem;
   
 }
 .day{
    border: 2px solid white;
    padding: 0.5rem 1rem;
    border-radius: 7px;
    backdrop-filter: blur(4px);
 }
 .day :nth-child(1){
 display: flex;
 }
 .day img{
    width: 4rem;
 }

@media (max-width:770px){
    .searchbar{
        width: 100%;
    
    }
    .searchbar input{
        width: 100%;
        font-size: 0.5;
    }
    .box{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .text{
        text-align: left;
    }
    .imageContainer{
        height:auto;
    }
}
